page-publications-description {
    ion-item.item {
        padding-left: 0px!important;
    }
    .publications{
        *{
          white-space: pre-line;  
          display: block;  
        }
    }
       .data {
            text-align: center;
            color: #fff;
            background:#426EDD;
                p {
                    color: #fff;
                    padding: 10px 0;
                    margin: 0;
                    font-size: 1.4rem;
                    line-height: normal;
                }
               
        }
        
     .toolbar-background {
         background: #426EDD!important;
     }
     span.back-button-text.back-button-text-ios {
         display: none;
    }
    .back-button.show-back-button {
        color: white;
    }
        .fab {
        width: 42px;
        height: 42px;
        background-color: transparent;
        box-shadow: none;
    }
    button.share__button.fab.fab-ios {
        width: 42px;
        height: 65px;
    }
    img {
        width: 100% !important;
        height: auto !important;
        display: block;
        margin: 0.5rem 0px!important;
    }
    .publication__title{
        color: black;
        margin: 10px 0;
        font-size: 1.6rem;
        line-height: 2rem;
        font-weight: 700;
        margin-bottom: 0px;
    }
    .publication{
        white-space: pre-line;
    }
   .toolbar-content.toolbar-content-md .data p {
        font-size: 1.8rem;
        text-align: center;
        margin-right: 30px;
    }
    button.share__button.fab.fab-md {
        top: -3px;
    }
}
