page-blogs {
    ion-header {
        .header__logo {
            .toolbar-background{
                background:#426EDD;
            }
            .toolbar-title {
                text-align: center;
            }
            .item-cover {
                background:#426EDD;
            }
            img{
                margin: 0 auto;
                display: block;
                max-width: 80%;
            }
    }

        .data {
            text-align: center;
            color: #fff;
            font-size: 1.4rem;
            background:#426EDD;
            p {
                padding: 10px 0;
                margin: 0;
            }
           
        }
    }
  
 .item-inner {

             ion-label {
                    white-space: inherit;
                    margin: 0;
                span {
                    color: #859298;
                    font-size: 1.2rem;
                }
                .author {
                    font-size: 1.4rem;
                }
                p {
                color: black;
                font-size: 1.6rem;
                margin-top: 0px;
                line-height: 25px;
                clear:both;
                    &.blog__title{
                        font-weight: 700;
                        line-height: 1.8rem!important;
                    }
                } 
               
        }
    }

ion-item {
        padding-left: 10px!important;
        margin-bottom: 15px!important;
        .icon-avatar img {
        width: 112px;
        height: 112px;
        object-fit: cover;
        }
    }
    .toolbar-ios ion-title {
        padding: 0 50px 1px !important;
    	padding-top: 20px!important;
    }
    ion-card.no__internet {
     text-align: center;
     background-color: white!important;
     color: black!important;
    }
}
    

